<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Octopus.Kernel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Octopus.Kernel.Properties.Settings>
            <setting name="RequestTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="HeatShrinkWindowSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="HeatShrinkLookaheadSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MonitoredFileCycleInSec" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MaxConsecutivQueryBadCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CoapDefaultBlockSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="CoapMaxMessageSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="MinWaitAfterNodeResetInSec" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MinWaitAfterGwResetInSec" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AutoAddDTItemIfNone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxMinuteGapForTimeLagDetection" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="IPInterface" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="DBCacheConnectionString" serializeAs="String">
                <value>Provider=SQLOLEDB.1;Password=Rvm2012;Persist Security Info=True;User ID=Revame;Initial Catalog=RVM_TRAME;Data Source=.\SQLEXPRESS</value>
            </setting>
            <setting name="DBCacheEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DBCacheMigrationSQLQuery" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>IF NOT EXISTS(SELECT TOP 1 name FROM sys.columns WHERE Name = N'APP' AND Object_ID = Object_ID(N'RVM_TRAME_CACHE')) </string>
                        <string>BEGIN </string>
                        <string>ALTER TABLE dbo.RVM_TRAME_CACHE ADD APP nvarchar(50) NULL </string>
                        <string>END</string>
                        <string />
                        <string>IF NOT EXISTS (select TOP 1 COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH FROM information_schema.columns WHERE TABLE_NAME = 'RVM_TRAME_CACHE' AND COLUMN_NAME = 'VAL' AND CHARACTER_MAXIMUM_LENGTH = -1)</string>
                        <string>BEGIN</string>
                        <string>ALTER TABLE RVM_TRAME_CACHE ALTER COLUMN VAL nvarchar(max) NOT NULL</string>
                        <string>END</string>
                        <string />
                        <string>IF NOT EXISTS (select COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH FROM information_schema.columns WHERE TABLE_NAME = 'RVM_TRAME_CACHE' AND COLUMN_NAME = 'ELEMENT' AND (CHARACTER_MAXIMUM_LENGTH = -1 OR CHARACTER_MAXIMUM_LENGTH &gt;= 255))</string>
                        <string>BEGIN</string>
                        <string>ALTER TABLE RVM_TRAME_CACHE ALTER COLUMN ELEMENT nvarchar(255) NOT NULL</string>
                        <string>END</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LogFileNumber" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LogFileSizeInKo" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="LogFileLevel" serializeAs="String">
                <value>Minimum</value>
            </setting>
            <setting name="LogFileEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Test" serializeAs="String">
                <value>aaa</value>
            </setting>
        </Octopus.Kernel.Properties.Settings>
    </applicationSettings>
</configuration>